<div class="header"> {{title}}</div>
<nav>
  <a href="#home" title="Click to go Homepage">Home</a>
  <a href="#content">Content</a>
  <a href="#contact">Contact</a>
  <a href="#signin">Login/Signup</a>
</nav>
<main>
  <section id="home">
    <img
      src="https://lh3.googleusercontent.com/eU8ca95aDX83X_lFSZvVsFxvADdoG5r99LhILw7rTovFkACnSs2AUPwNnpTJJqO9BqzDzLTN0bZTcV0NMP0b_8CdgcL7UvodDH3YIAJpPzn6BK-_Y41vNtjkTEwMbCbdxa9Q0MYwNUw9je5Hali2f7l1GE-acUZm2aLghmqfT6c1Py-k3m1sR8NjveXmBGDwki6izLPQ04TGXSDGArUjwAUUIe6XPu7TfKjNMlfJzwmePj_6hsWypxS7wDivddYvREf1ptAf7h8n5ubaPPrn_6M37Qy3fRoL_CdexkwyUlMw2vEWElBlFcUqvvIAus_d3vOUbFhW_6UpFGrutGLCsj8LAeR6qbmkDHrwuC8-Wcw1eq11q4rNqt1kdTPF5qGhdvrmKj42OY4QDU2Ip7BGB-qL_PhtW36lkoz3yHcVtaNlmeXjadaZ3LNTts1UbPruNX1LfgnCTtk3TM0IJ_lAPJ9W4ut853E_j3DLYHT3gmAC0etiiJuMoPjpvOfGZnfI-UX_Z5Ac1jQwGM0yUYsk9ge4DIjPWp590-KpBtziS2VHIef81jGf2Ea439Fev5D4q38jBMW-Hu86i12kqDkzVo0D6JTTRh7ka2PMeN2MeBOgvf8C7dtcffbQCqFkBXVzjhfapJbyb_Fw78SZFp2JV0CDpK2vX-nZ5ffSMAB8nBsZDMvY9lM6Xrijs5hN8VrZefiu5qK7KfOKJYdLTonjjl2q=w460-h934-no?authuser=0"
      width="260px" title="I designed this webpage😎">
  </section><br><br><br><br><br><br><br><br><br><br><br>
  <section id="content">
    <h1>Content</h1>
    <ul>
      <li>This is a 'html' webpage, designed by me.</li>
    </ul>
    <p>Here is the brief information about 'html'</p>
    <table>
      <tr>
        <th>'html' full form:</th>
        <td>Hyper Text Markup Language</td>
      </tr>
    </table>
  </section><br><br><br><br>
  <section id="contact">
    <h1>Contact</h1>
    <a href="mailto:lacm1546@gmail.com"><img
        src="https://lh3.googleusercontent.com/5El0DKFU9iMbqugba3HwNfRdvkN3Ez5cXD_dtcoaWZoX8I6NJuETe5WWQGdbHuGNPitZUPr5HihIT2iGtlXbMP-oN9dvHRS90fBkTUh2x377wU2SkbzeiRhcYgFH8_CpZN4TcgeCL2FL9T_iV1V8P0iHsxGXo4ntQJ55aJPwP-a_eB5cz53u8t7YncMuMHkSOnoC08q1Y_odun797UJ1U84eQI_ChFY76RT8FxLBXSm6YvxI18P9KJ9SjR1OVcvClvHTNj7k9lPdi4iABQWtC71-otDDlPnymlsk2n3zUmS5RlEFXTfW-Va7hR8z0XLr2ovAdX4S_vWa7CppKBc4WVETXjwDU83YoIZLWs5IaYWW9iMzFYuYGGmkubsqovA5m36aUuD07MfFAp7eZoiygWh5hT1jPTTjhXYaUcblnpmuPfLqUKADSBKoisTHhKJyczS8Rzur4KEzFKPUNBM-9LQuct0gwiCd1WoZ4vtidzVfDnd-QAhv43aYacCkDKuVFFNw9icnNr7gglzHaUeCO9DCn05DZYapKxQ86mhHLdu3zQwdBGDaT6mb0KGWYpZxhbYmIlssWor32XBk_6HnUx0mw10KpVyloGnbpB1_BGUWq4HVVXw9SHIhenrXTJoGVsujhcek7CvHTx8dXclf1u717E5DXkVor-hg_KPyRixVKLZxKaOXbTm9ldl7rOuVdWZ5HvoRL795ziK2Pc8sAbs=w752-h552-no?authuser=2"
        alt="Click here..." width="75px" title="Click the icon for Email"></a>
  </section><br><br><br><br><br>
  <section id="signin">
    <h1>Sign in</h1>
  </section>
  <a href="https://bpnzoonhstvypz1rgznziq-on.drv.tw/html/2nd class 2.html" target="_blank"><button
      title="Click to sign up">Sign up</button></a>
</main>
<footer>
  <p> Designed by: Lalit Verma</p>
  <p>Just for fun</p>
  <p>Thank you for visiting the webpage</p>
  <p>&copy;2022 | Lalit Verma</p>
</footer>